{% extends 'base/base.html' %}
{% block title %}
    课程
{% endblock %}
{% block style_link %}
<link rel="stylesheet" href="/static/css/course/course.css"
{% endblock %}
{% block mid_con %}
    <!--middle start-->
    <div class="middle">
        <div class="mid-top">
            <div class="menu">
                <h3>在线课堂</h3>
                <ul class="title">
                    <li class="activate">创业案例</li>
                    <li>深度报道</li>
                    <li>干货分析</li>
                    <li>投资人说</li>
                </ul>
            </div>
        </div>
        <div class="mid-con">
            <ul class="con-list">
                <li class="con show">
                    <div class="course-list">
                        <ul>
                            <li>
                                <img src="https://res.shiguangkey.com/file/201804/11/20180411175754047081695.jpg!mall_course_b">
                                <div class="course">
                                    <h3>C语言</h3>
                                    <p class="message">从基础到项目实战从基础到项目实战从基础到项目实战从基础到项目实战从基础到项目实战</p>
                                    <span class="price">免费</span>
                                </div>
                            </li>
                            <li>
                                <img src="https://res.shiguangkey.com//file/201805/05/20180505110937817137153.jpg!mall_course_c">
                                <div class="course">
                                    <h3>1801级中级班(JSJQ)</h3>
                                    <p class="message">从基础到项目实战从基础到项目实战从基础到项目实战从基础到项目实战从基础到项目实战</p>
                                    <span class="price">3980元</span>
                                </div>
                            </li>
                            <li>
                                <img src="https://res.shiguangkey.com//file/201804/08/20180408230910347931149.png!mall_course_c">
                                <div class="course">
                                    <h3>UI设计</h3>
                                    <p class="message">UI设计零基础到大型项目实战到大型项目实战到大型项目实战</p>
                                    <span class="price">免费</span>
                                </div>
                            </li>
                            <li>
                                <img src="https://res.shiguangkey.com/file/201803/22/20180322091230008492307.png!mall_course_b">
                                <div class="course">
                                    <h3>大数据</h3>
                                    <p class="message">点燃大数据 引爆人工智能 大数据人工智能课程讲座课程大数据</p>
                                    <span class="price">免费</span>
                                </div>
                            </li>
                            <li>
                                <img src="https://res.shiguangkey.com/file/201807/20/20180720164840410880578.jpg!mall_course_b">
                                <div class="course">
                                    <h3>JAVA</h3>
                                    <p class="message">JAVA基础小白的福音，企业级开发入门必会</p>
                                    <span class="price">免费</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="con">
                    <div class="course-list">
                        <ul>
                            <li>
                                <img src="https://res.shiguangkey.com/file/201804/11/20180411175754047081695.jpg!mall_course_b">
                                <div class="course">
                                    <h3>C语言</h3>
                                    <p class="message">从基础到项目实战从基础到项目实战从基础到项目实战从基础到项目实战从基础到项目实战</p>
                                    <span class="price">免费</span>
                                </div>
                            </li>
                            <li>
                                <img src="https://res.shiguangkey.com//file/201805/05/20180505110937817137153.jpg!mall_course_c">
                                <div class="course">
                                    <h3>1801级中级班(JSJQ)</h3>
                                    <p class="message">从基础到项目实战从基础到项目实战从基础到项目实战从基础到项目实战从基础到项目实战</p>
                                    <span class="price">3980元</span>
                                </div>
                            </li>
                            <li>
                                <img src="https://res.shiguangkey.com//file/201804/08/20180408230910347931149.png!mall_course_c">
                                <div class="course">
                                    <h3>UI设计</h3>
                                    <p class="message">UI设计零基础到大型项目实战到大型项目实战到大型项目实战</p>
                                    <span class="price">免费</span>
                                </div>
                            </li>
                            <li>
                                <img src="https://res.shiguangkey.com/file/201803/22/20180322091230008492307.png!mall_course_b">
                                <div class="course">
                                    <h3>大数据</h3>
                                    <p class="message">点燃大数据 引爆人工智能 大数据人工智能课程讲座课程大数据</p>
                                    <span class="price">免费</span>
                                </div>
                            </li>
                            <li>
                                <img src="https://res.shiguangkey.com/file/201807/20/20180720164840410880578.jpg!mall_course_b">
                                <div class="course">
                                    <h3>JAVA</h3>
                                    <p class="message">JAVA基础小白的福音，企业级开发入门必会</p>
                                    <span class="price">免费</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="con">
                    <div class="course-list">
                        <ul>
                            <li>
                                <img src="https://res.shiguangkey.com/file/201804/11/20180411175754047081695.jpg!mall_course_b">
                                <div class="course">
                                    <h3>C语言</h3>
                                    <p class="message">从基础到项目实战从基础到项目实战从基础到项目实战从基础到项目实战从基础到项目实战</p>
                                    <span class="price">免费</span>
                                </div>
                            </li>
                            <li>
                                <img src="https://res.shiguangkey.com//file/201805/05/20180505110937817137153.jpg!mall_course_c">
                                <div class="course">
                                    <h3>1801级中级班(JSJQ)</h3>
                                    <p class="message">从基础到项目实战从基础到项目实战从基础到项目实战从基础到项目实战从基础到项目实战</p>
                                    <span class="price">3980元</span>
                                </div>
                            </li>
                            <li>
                                <img src="https://res.shiguangkey.com//file/201804/08/20180408230910347931149.png!mall_course_c">
                                <div class="course">
                                    <h3>UI设计</h3>
                                    <p class="message">UI设计零基础到大型项目实战到大型项目实战到大型项目实战</p>
                                    <span class="price">免费</span>
                                </div>
                            </li>
                            <li>
                                <img src="https://res.shiguangkey.com/file/201803/22/20180322091230008492307.png!mall_course_b">
                                <div class="course">
                                    <h3>大数据</h3>
                                    <p class="message">点燃大数据 引爆人工智能 大数据人工智能课程讲座课程大数据</p>
                                    <span class="price">免费</span>
                                </div>
                            </li>
                            <li>
                                <img src="https://res.shiguangkey.com/file/201807/20/20180720164840410880578.jpg!mall_course_b">
                                <div class="course">
                                    <h3>JAVA</h3>
                                    <p class="message">JAVA基础小白的福音，企业级开发入门必会</p>
                                    <span class="price">免费</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="con">
                    <div class="course-list">
                        <ul>
                            <li>
                                <img src="https://res.shiguangkey.com/file/201804/11/20180411175754047081695.jpg!mall_course_b">
                                <div class="course">
                                    <h3>C语言</h3>
                                    <p class="message">从基础到项目实战从基础到项目实战从基础到项目实战从基础到项目实战从基础到项目实战</p>
                                    <span class="price">免费</span>
                                </div>
                            </li>
                            <li>
                                <img src="https://res.shiguangkey.com//file/201805/05/20180505110937817137153.jpg!mall_course_c">
                                <div class="course">
                                    <h3>1801级中级班(JSJQ)</h3>
                                    <p class="message">从基础到项目实战从基础到项目实战从基础到项目实战从基础到项目实战从基础到项目实战</p>
                                    <span class="price">3980元</span>
                                </div>
                            </li>
                            <li>
                                <img src="https://res.shiguangkey.com/file/201807/20/20180720164840410880578.jpg!mall_course_b">
                                <div class="course">
                                    <h3>JAVA</h3>
                                    <p class="message">JAVA基础小白的福音，企业级开发入门必会</p>
                                    <span class="price">免费</span>
                                </div>
                            </li>
                            <li>
                                <img src="https://res.shiguangkey.com//file/201804/08/20180408230910347931149.png!mall_course_c">
                                <div class="course">
                                    <h3>UI设计</h3>
                                    <p class="message">UI设计零基础到大型项目实战到大型项目实战到大型项目实战</p>
                                    <span class="price">免费</span>
                                </div>
                            </li>
                            <li>
                                <img src="https://res.shiguangkey.com/file/201803/22/20180322091230008492307.png!mall_course_b">
                                <div class="course">
                                    <h3>大数据</h3>
                                    <p class="message">点燃大数据 引爆人工智能 大数据人工智能课程讲座课程大数据</p>
                                    <span class="price">免费</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--middle end-->
{% endblock %}
{% block script_link %}
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="/static/js/course.js"></script>
{% endblock %}