{% extends 'base/base.html' %}
{% load new_filter %}
{% block title %}
    首页
{% endblock %}
{% block style_link %}
<link rel="stylesheet" href="/static/css/course/index.css">
{% endblock %}
{% block mid_con %}
    <!--middle start-->
    <div class="middle">
        <div class="mid-con clearfix">
            <div class="con-left">
                <div class="banner">
                    <ul class="photo">
                        <li><img src="https://res.shiguangkey.com//file/201806/19/20180619142252602590185.jpg"></li>
                        <li><img src="https://res.shiguangkey.com//file/201806/21/20180621150342030454625.jpg"></li>
                        <li><img src="https://res.shiguangkey.com//file/201805/17/20180517113424433990524.jpg"></li>
                        <li><img src="https://res.shiguangkey.com//file/201806/19/20180619141337485823895.jpg" ></li>
                    </ul>
                    <ul class="btn">
                        <li class="left">&lt;</li>
                        <li class="right">&gt;</li>
                    </ul>
                    <ul class="select">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="news">
                    <ul class="news-list">
                        <li>
                            <img src="https://res.shiguangkey.com//file/201804/19/20180419161303876645368.png!mall_course_c">
                            <p>Python 零基础入门到项目实战开发</p>
                        </li>
                        <li>
                            <img src="https://res.shiguangkey.com//file/201804/19/20180419103636100353500.jpg!mall_course_c">
                            <p>Python从零基础到项目实战(实战篇)</p>
                        </li>
                        <li>
                            <img src="https://res.shiguangkey.com//file/201804/24/20180424204505118608552.jpg!mall_course_c">
                            <p>Python零基础到大牛之路</p>
                        </li>
                    </ul>
                </div>
                <div class="menus clearfix">
                    <ul class="title clearfix">
                        {% for tag in news_tags %}
                            <li>{{ tag.tag_name }}</li>
                        {% endfor %}
{#                    <li class="activate">{{ tag.tag_name }}</li>#}
                    </ul>
                    <ul class="menus-con clearfix">
                        <li class="show">
                            {% for new in news %}
                                <div class="info">
                                    <div class="pic">
                                        <img src="{{ new.photo_url }}">
                                    </div>
                                    <div class="text">
                                        <h4><a href="{% url 'news:news_detail' news_id=new.id %}" style="color: #000000;">{{ new.title }}</a></h4>
                                        <p>{{ new.desc }}</p>
                                        <div class="other">
{#    ======================================数据库表的联级查询 =========================#}
                                            <span class="hot">{{ new.tag.tag_name }}</span>
                                            <span class="time">{{ new.add_time|date_format }}</span>
                                            <span class="author">{{ new.author.username }}</span>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </li>
                    </ul>
                </div>
                <a href="javascript:void(0)" class="load_multi">加载更多</a>
            </div>
            <div class="con-right">
                <div class="offline-class">
                    <h3>线下课程<a href="javascript:void(0);">更多</a></h3>
                    <div class="pic">
                        <img src="https://res.shiguangkey.com//file/201808/18/20180818153301380874592.jpg!mall_course_c">
                        <p>第九艺术公开课</p>
                    </div>
                    <ul class="status">
                        <li>
                            <a href="javascript:void(0);">
                                <span class="starting">报名中</span><span>潭州游戏开发基础班</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <span class="ending">已结束</span><span>潭州日语班</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="online-class">
                    <h3>线上课程<a href="javascript:void(0);">更多</a></h3>
                    <div class="pic">
                        <img src="https://res.shiguangkey.com//file/201807/18/20180718165748968957414.png!mall_course_c">
                        <p>游戏原画绘画学习</p>
                    </div>
                    <ul class="status">
                        <li>
                            <a href="javascript:void(0);">
                                <span class="starting">报名中</span><span>潭州C++基础班班</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <span class="ending">已结束</span><span>潭州python班</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="attention-me clearfix">
                    <h3>关注我</h3>
                    <ul class="info">
                        <li><i class="iconfont icon-qq" style="color: deepskyblue;"></i>1078861774</li>
                        <li><i class="iconfont icon-github" style="color: gray;"></i>luweimin</li>
                        <li><i class="iconfont icon-weibo" style="color: red;"></i>卢伟民</li>
                    </ul>
                    <div class="attention">
                        <p>扫码关注</p>
                    </div>
                </div>
                <div class="hot-recommend">
                    <h3>热点推荐</h3>
                    <ul class="hot-news">
                        <li class="clearfix">
                            <div class="news-con">
                                <p>英雄联盟S8入围赛黑马战队合集 英雄联盟S8入围赛黑马战队合集</p>
                                <div class="other">
                                    <span class="hot">热点</span>
                                    <span class="time">9月30日</span>
                                </div>
                            </div>
                            <div class="pic"><img src="http://img1.gtimg.com/21/2147/214746/21474698_small.jpg"></div>
                        </li>
                        <li class="clearfix">
                            <div class="news-con">
                                <p>港珠澳大桥开展三地联合试运行 40分钟驶完全程</p>
                                <div class="other">
                                    <span class="hot">热点</span>
                                    <span class="time">9月30日</span>
                                </div>
                            </div>
                            <div class="pic"><img src="http://inews.gtimg.com/newsapp_ls/0/5564903996_150120/0"></div>
                        </li>
                        <li class="clearfix">
                            <div class="news-con">
                                <p>新思维、新路径、新挑战，5G到底应该怎么做？ 新思维、新路径、新挑战，5G到底应该怎么做？</p>
                                <div class="other">
                                    <span class="hot">热点</span>
                                    <span class="time">9月30日</span>
                                </div>
                            </div>
                            <div class="pic"><img src="https://inews.gtimg.com/newsapp_ls/0/5566234334_294195/0"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--middle end-->
{% endblock %}
{% block script_link %}
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="/static/js/index.js"></script>
{% endblock %}
