{% extends 'base/base.html' %}
{% load new_filter %}
{% block title %}
    首页
{% endblock %}
{% block style_link %}
<link rel="stylesheet" href="/static/css/course/index.css">
{% endblock %}
{% block mid_con %}
    <!--middle start-->
    <div class="middle">
        <div class="mid-con clearfix">
            <div class="con-left">
                <div class="banner">
                    <ul class="photo">
                        {% for photo in banners %}
                            <li><img src="{{ photo.image_url }}"></li>
                        {% endfor %}
                    </ul>
                    <ul class="btn">
                        <li class="left">&lt;</li>
                        <li class="right">&gt;</li>
                    </ul>
                    <ul class="select">
                        {% for photo in banners %}
                            <li></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="news">
                    <ul class="news-list">
                        {% for new in h_news %}
                        <li>
                            <img src="{{ new.news.photo_url }}">
                            <p>{{ new.news.title }}</p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="menus clearfix">
                    <ul class="title clearfix">
                        {% for tag in news_tags %}
                            <li data-id="{{ tag.id }}" >{{ tag.tag_name }}</li>
                        {% endfor %}
{#                    <li class="activate">{{ tag.tag_name }}</li>#}
                    </ul>
                    <div class="news-contain">
                        <ul class="menus-con clearfix">
                        {% for news in newses %}
                            <li>
                                {% for new in news %}
                                    <div class="info">
                                        <div class="pic">
                                            <img src="{{ new.photo_url }}">
                                        </div>
                                        <div class="text">
                                            <h4><a href="{% url 'news:news_detail' news_id=new.id %}" target="_blank" style="color: #000000;">{{ new.title }}</a></h4>
                                            <p>{{ new.desc }}</p>
                                            <div class="other">
    {#    ======================================数据库表的联级查询 =========================#}
                                                <span class="hot">{{ new.tag.tag_name }}</span>
                                                <span class="time">{{ new.add_time|date_format }}</span>
                                                <span class="author">{{ new.author.username }}</span>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            </li>
                        </ul>
                    </div>
                </div>
                <a href="javascript:void(0)" class="load_multi" data-page="2">加载更多</a>
            </div>
{# =========== con_right  ============= #}
            {% include 'base/con_right.html' %}
        </div>
    </div>
    <!--middle end-->
{% endblock %}
{% block script_link %}
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="/static/js/base/common.js"></script>
    <script src="/static/js/index.js"></script>
{% endblock %}
