/*loading start*/
.bigout{
    width: 500px;
    height: 600px;
    margin: 50px auto;
}
.out{
    width: 500px;
    height: 350px;
    vertical-align:middle;
    background:white;
    margin: 50px auto;
    border: 2px solid #e8dede;
}
.inter{width: 460px;
    height: 50px;
    vertical-align:middle;
    background:white;
    margin: 10px auto;
    border-bottom: 1px solid #e8dede;
}
.inter p{float: left;
    line-height: 50px;
    font-size: larger;
    height: 50px;
    border-bottom: 3px solid #8623e1;
    box-sizing: border-box;
    display: table-cell;
}
.inter a{float: right;
    line-height: 50px;
    font-size: larger;
    text-decoration: none;
    color: #84cdeb;
}
form{width: 460px;
    height: 230px;
    background:white;
    margin: 10px auto;
    }
.num{
    height: 50px;
    width: 440px;
    border: 1px solid #e8dede;
    margin: 10px;
    border-radius:4px;
    line-height: 50px;
    font-size: large;
}
.passw{
    height: 50px;
    width: 440px;
    border: 1px solid #e8dede;
    margin: 10px;
    border-radius:4px;
    line-height: 50px;
    font-size: large;
}
.check{
    /*border: 1px solid red;*/
    height: 15px;
    width: 15px;
    border: 1px solid #e8dede;
    border-radius:4px;
    vertical-align: middle;
}
.res{
    width: 80px;
    float: right;
    text-decoration: none;
    color: #a89e9e;
    line-height: 50px;
    vertical-align: middle;
}
.loading{
    display: block;
    height: 50px;
    width: 440px;
    background: deepskyblue;
    border: 1px solid #e8dede;
    margin: 10px;
    border-radius:4px;
    line-height: 50px;
    font-size: large;
    color: white;
    text-align: center;
}
/*loading end*/
