<div class="con-right">
    <div class="offline-class">
        <h3>线下课程<a href="javascript:void(0);">更多</a></h3>
        <div class="pic">
            <img src="https://res.shiguangkey.com//file/201808/18/20180818153301380874592.jpg!mall_course_c">
            <p>第九艺术公开课</p>
        </div>
        <ul class="status">
            <li>
                <a href="javascript:void(0);">
                    <span class="starting">报名中</span><span>潭州游戏开发基础班</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <span class="ending">已结束</span><span>潭州日语班</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="online-class">
        <h3>线上课程<a href="javascript:void(0);">更多</a></h3>
        <div class="pic">
            <img src="https://res.shiguangkey.com//file/201807/18/20180718165748968957414.png!mall_course_c">
            <p>游戏原画绘画学习</p>
        </div>
        <ul class="status">
            <li>
                <a href="javascript:void(0);">
                    <span class="starting">报名中</span><span>潭州C++基础班班</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <span class="ending">已结束</span><span>潭州python班</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="attention-me clearfix">
        <h3>关注我</h3>
        <ul class="info">
            <li><i class="iconfont icon-qq" style="color: deepskyblue;"></i>1078861774</li>
            <li><i class="iconfont icon-github" style="color: gray;"></i>luweimin</li>
            <li><i class="iconfont icon-weibo" style="color: red;"></i>卢伟民</li>
        </ul>
        <div class="attention">
            <p>扫码关注</p>
        </div>
    </div>
    <div class="hot-recommend">
        <h3>热点推荐</h3>
        <ul class="hot-news">
            <li class="clearfix">
                <div class="news-con">
                    <p>英雄联盟S8入围赛黑马战队合集 英雄联盟S8入围赛黑马战队合集</p>
                    <div class="other">
                        <span class="hot">热点</span>
                        <span class="time">9月30日</span>
                    </div>
                </div>
                <div class="pic"><img src="http://img1.gtimg.com/21/2147/214746/21474698_small.jpg"></div>
            </li>
            <li class="clearfix">
                <div class="news-con">
                    <p>港珠澳大桥开展三地联合试运行 40分钟驶完全程</p>
                    <div class="other">
                        <span class="hot">热点</span>
                        <span class="time">9月30日</span>
                    </div>
                </div>
                <div class="pic"><img src="http://inews.gtimg.com/newsapp_ls/0/5564903996_150120/0"></div>
            </li>
            <li class="clearfix">
                <div class="news-con">
                    <p>新思维、新路径、新挑战，5G到底应该怎么做？ 新思维、新路径、新挑战，5G到底应该怎么做？</p>
                    <div class="other">
                        <span class="hot">热点</span>
                        <span class="time">9月30日</span>
                    </div>
                </div>
                <div class="pic"><img src="https://inews.gtimg.com/newsapp_ls/0/5566234334_294195/0"></div>
            </li>
        </ul>
    </div>
</div>