/*====con_right start====*/
/*====class start====*/
.middle .mid-con .con-right{
    width: 360px;
    background: #ffffff;
    float: right;
    margin-top: 20px;
}
.middle .mid-con .con-right .offline-class h3{
    line-height: 60px;
    color: black;
    font-size: 18px;
    padding: 0 20px;
}
.middle .mid-con .con-right .offline-class h3 a{
    font-size: 14px;
    color: skyblue;
    float: right;
}
.middle .mid-con .con-right .offline-class .pic{
    width: 320px;
    height: 210px;
    margin: 0 auto;
    position: relative;
}
.middle .mid-con .con-right .offline-class .pic img{
    width: 320px;
    height: 210px;
}
.middle .mid-con .con-right .offline-class .pic p{
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 320px;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    text-align: center;
    line-height: 40px;
}
.middle .mid-con .con-right .offline-class .status{
    height: 85px;
    width: 320px;
    padding: 0 20px;
    border-bottom: 1px solid gray;
}
.middle .mid-con .con-right .offline-class .status li{
    height: 40px;
    line-height: 40px;
}
.middle .mid-con .con-right .offline-class .status  li span{
    color: #000;
    font-size: 15px;
}
.middle .mid-con .con-right .offline-class .status li .starting{
    color: blue;
    border: 1px solid blue;
    margin-right: 20px;
}
.middle .mid-con .con-right .offline-class .status li .ending{
    color: #666666;
    border: 1px solid #666666;
    margin-right: 20px;
}
.middle .mid-con .con-right .online-class h3{
    line-height: 60px;
    color: black;
    font-size: 18px;
    padding: 0 20px;
}
.middle .mid-con .con-right .online-class h3 a{
    font-size: 14px;
    color: skyblue;
    float: right;
}
.middle .mid-con .con-right .online-class .pic{
    width: 320px;
    height: 210px;
    margin: 0 auto;
    position: relative;
}
.middle .mid-con .con-right .online-class .pic img{
    width: 320px;
    height: 210px;
}
.middle .mid-con .con-right .online-class .pic p{
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 320px;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    text-align: center;
    line-height: 40px;
}
.middle .mid-con .con-right .online-class .status{
    height: 85px;
    width: 320px;
    padding: 0 20px;
    border-bottom: 1px solid gray;
}
.middle .mid-con .con-right .online-class .status li{
    height: 40px;
    line-height: 40px;
}
.middle .mid-con .con-right .online-class .status  li span{
    color: #000;
    font-size: 15px;
}
.middle .mid-con .con-right .online-class .status li .starting{
    color: blue;
    border: 1px solid blue;
    margin-right: 20px;
}
.middle .mid-con .con-right .online-class .status li .ending{
    color: #666666;
    border: 1px solid #666666;
    margin-right: 20px;
}
/*====class end====*/
/*====attention start====*/
.middle .mid-con .con-right .attention-me{
    border-bottom: 1px solid gray;
}
.middle .mid-con .con-right .attention-me h3{
    line-height: 60px;
    color: black;
    font-size: 18px;
    padding: 0 20px;
}
.middle .mid-con .con-right .attention-me .info{
    float: left;
}
.middle .mid-con .con-right .attention-me .info li{
    line-height: 50px;
}
.middle .mid-con .con-right .attention-me .info li i{
    font-size: 30px;
    padding: 0 20px;
}
.middle .mid-con .con-right .attention-me .attention{
    width: 100px;
    height: 100px;
    float: right;
    background: url("../wechat.png") no-repeat center/100%;
    margin: 20px 20px 0 0;
}
.middle .mid-con .con-right .attention-me .attention p{
    line-height: 32px;
    margin-top: 100px;
    text-align: center;
}
/*====attention end====*/
/*hot-recomend start*/
.middle .mid-con .con-right .hot-recommend h3{
    line-height: 60px;
    color: black;
    font-size: 18px;
    padding: 0 20px;
}
.middle .mid-con .con-right .hot-recommend .hot-news li{
    border-bottom: 1px solid #666666;
    padding: 20px 0 20px 0;
}
.middle .mid-con .con-right .hot-recommend .hot-news .news-con{
    float: left;
}
.middle .mid-con .con-right .hot-recommend .hot-news .news-con p{
    width: 200px;
    height: 50px;
    line-height: 25px;
    padding: 0 20px;
    overflow: hidden; /*超出部分隐藏*/
    text-overflow: ellipsis; /*省略号*/
    display: -webkit-box;   /*样式*/
    -webkit-box-orient: vertical;   /*对齐*/
    -webkit-line-clamp: 2;  /*省略号出现的在第二行*/
}
.middle .mid-con .con-right .hot-recommend .hot-news .news-con .other{
    width: 200px;
    padding: 0 20px;
    margin: 10px 0 20px 0;
}
.middle .mid-con .con-right .hot-recommend .hot-news .news-con .other .hot{
    float: left;
    color: green;
}
.middle .mid-con .con-right .hot-recommend .hot-news .news-con .other .time{
    float: right;
}
.middle .mid-con .con-right .hot-recommend .hot-news .pic{
    float: right;
    width: 100px;
    height: 75px;
    margin-right: 20px;
}
.middle .mid-con .con-right .hot-recommend .hot-news .pic img{
    width: 100px;
    height: 75px;
}
/*hot-recomend end*/
/*====con_right end====*/